.__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .__buttons{
        display: flex;
        gap:10px;
        .__link__style{
            text-decoration: none !important;
            transition: 0.5s;
        }
        // .__link__style:hover{
        //     font-weight: bold;

        // }
    }
}