.__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  .__title {
    font-family: "Caveat", cursive;
    font-family: "Lobster", sans-serif;
    font-family: "Oswald", sans-serif;
    font-family: "Permanent Marker", cursive;
    font-size: xx-large;
  }
  .__toggles {
    display: flex;
    gap: 20px;
    span {
      cursor: pointer;
 
    }
  }
  .__buttons {
    display: flex;
    gap: 10px;
    .__link__style {
      text-decoration: none !important;
    }
  }
}
